
body {
        
        background: url('../assets/ninjaBanner.jpg') no-repeat center center fixed;
        background-size: cover;
        font-family: "Iosevka Charon Mono", monospace;
        color: white;
        padding: 40px;
    }

h1 {
        text-align: center;
        color: #FFD700; 
        text-transform: uppercase;
        letter-spacing: 2px;
        text-shadow: 2px 2px 4px rgba(0,0,0,0.8);
    }

table {
        border-collapse: collapse;
        margin: 25px 0;
        font-size: 0.9em;
        min-width: 400px;
        background-color: rgba(0, 0, 0, 0.6); /* Fundo preto transparente */
        backdrop-filter: blur(5px); /* Efeito de vidro embaçado */
        border-radius: 8px;
        overflow: hidden;
        box-shadow: 0 0 20px rgba(0, 0, 0, 0.5);
    }

thead tr {
        background-color: #FFD700;
        color: #000;
        text-align: left;
        font-weight: bold;
    }

th, td {
        padding: 12px 15px;
        border-bottom: 1px solid rgba(255, 255, 255, 0.1);
    }

    /* Efeito zebrado suave */
tbody tr:nth-of-type(even) {
        background-color: rgba(255, 255, 255, 0.05);
    }

    
tbody tr:hover {
        background-color: rgba(255, 215, 0, 0.2);
        cursor: pointer;
    }

tfoot tr {
        font-weight: bold;
        color: #FFD700;
        background-color: rgba(0, 0, 0, 0.4);
    }

a button{
    height: 50px;
    width: 80px;
    background-color: #FFD700;
    color: rgb(0, 0, 0);
    border-radius: 30px;
    border-color: rgb(255, 255, 255);
}